.footer__imgcontainer{
    width:799px;
    margin:0 auto;
    padding: 101px 0;
}

.footer__text{
    color: #000;
    font-size: 16px;
    font-weight: 300;

}

.black{
    color: #000;
    padding: 0 5px;
}